body {
    background-color: antiquewhite
}

.FullName-Input {
    width:500px;
    border: 3px solid black;
    border-radius: 7px !important;
    display: flex;    
}

.NationalCode-Input {
    width: 500px;
    border: 3px solid black;
    border-radius: 7px !important;
    display: flex;
}
.Phone-Input {
    width: 500px;
    border: 3px solid black;
    border-radius: 7px !important;
    display: flex;
}